.header-main {
  background-color: #2c523f;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

  padding-top: 95px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.286);
  /* think of items as containers */
}

.header-main div {
  display: flex;
  justify-content: center;
}

.header-main div h2 {
  color: black;
  letter-spacing: 1.5px;
  text-shadow:
  rgba(81, 103, 92, 0.826) -1px -1px 1.5px,
  rgba(42, 53, 49, 0.815) 0.5px -1.5px 0.5px,
  rgba(38, 64, 54, 0.771) -2px 0px 1px,
  rgba(63, 78, 71, 0.691) 1px 1px 1px;
}
