.navbar {
  /* box model */
  height: 80px;
  width: 100%;
  background-color: #2d3d71;
  color: #FFFFFF;
  border-bottom: 4px solid rgba(0, 0, 0, 0.496);

  /* padding: 1em 1.5em 0 1.5em; */
  padding: 1em 1.5em 0 0.5em;
  position: fixed;
  /* flex properties */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
  text-shadow:
    rgb(136, 136, 136) -1.5px -1.5px 0.5px,
    rgb(28, 28, 28) -3px -3px 1px,
    #000 -1px 1px 0,
    rgb(186, 186, 186) 1px 1px 0;

  margin-top: .1em;
}


.navbar-menu {
  position: relative;

  font-size: 22px;
  margin-top: 44px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  /* border: 1px solid red; */
}

.navbar-menu li:first-child {
  padding-top: 15px;
  position: absolute;
}

.fa-angles-down {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: #fb260e;
}

/* Button Animate */

.fa-angles-down:hover {
  -webkit-animation: action 0.6s infinite alternate;
  animation: action 0.6s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}

/* MEDIA QUERY */

@media only screen and (max-width: 420px) {
  .navbar {
    height: 60px;
  }
  .navbar-menu {
    padding-left: 2%;
    margin-top: 43px;
  }
  .navbar-menu li:first-child {
    font-size: 87%;
    padding-top: 9%;
  }
  .fa-angles-down {
    margin-top: 1.5%;
  }
  .navbar-logo {
    margin-bottom: 6%;
  }
}